.footer__links {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    min-height: 310px;
    align-items: flex-start;
  }
}
